.valentine-card {
  width: 320px;
  height: 160px;
  background-color: rgb(72, 222, 34);
}
.card-header-from {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
html {
  height: 100%;
}
p {
}
body {
  background: url(/src/img/844ab7c5-b2db-48dc-af6d-fb9d8e672df2.jpg) 100vh 100vw;
}
